LIBRARY=../ARCTICsim/simulator_nonequilibrium/data/gate_libs/gate_lib_yeast_generated_eight-state_det-var_2024-04-04_Monotonicity.json
#LIBRARY=../ARCTICsim/simulator_nonequilibrium/data/gate_libs/gate_lib_yeast_generated_mean_fit.json
#COMPAT_LIBRARY=../ARCTICsim/thermo_libs/compatibility/compatibility_3dBsig_id_coop.json
# SEARCH_ALGORITHM=ANNEALING
SEARCH_ALGORITHM=EXHAUSTIVE
OPTIMIZATION_TYPE=MAXIMIZE
STATISTICS=FALSE
BAB-SEARCH_STRATEGY=BEST_FIRST_SEARCH
BAB-TYPE=EAGER
BAB-VISUALIZE=FALSE
BAB-STATISTICS=FALSE
BAB-FAST=TRUE