PYTHON_BINARY=python3
SIM_LIMIT_THREADS_NUM=7
#SIM_PATH=../ARCTICsim/simulator_thermodynamics
#SIM_SCRIPT=circuit_simulator_thermo.py
#SIM_INIT_ARGS=-t=1
#SIM_ARGS=
SIM_PATH=../ARCTICsim/simulator_nonequilibrium
SIM_SCRIPT=main.py
#SIM_INIT_ARGS=-n 1000 -m samp -f ws-log-exp-asym
SIM_INIT_ARGS=-m det -f cello
SIM_ARGS=